@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
   
}
h1,h2 {
    font-family: 'Roboto', sans-serif;
}
@layer utilities{
    .gradient {
        background: linear-gradient(-45deg, #1CB5E0 0%, #000851 100%);
    }
}